/*-----------------------CONTENT--------------*/

div.content {
  margin-left: 250px;
  padding: 1px 16px;

}

@media screen and (max-width: 750px) {

  div.content {margin-left: 0;
              padding: 220px 16px;}
            }


@media screen and (max-width: 690px) { div.content {padding: 1px 8px;}        }
@media screen and (max-width: 680px) { div.content {padding: 1px 6px;}        }
@media screen and (max-width: 670px) { div.content {padding: 1px 4px;}        }
@media screen and (max-width: 660px) { div.content {padding: 1px 2px;}        }
@media screen and (max-width: 650px) {div.content {padding: 1px 1px;}        }


/*---------------------------TOPNAV--------------------------*/

 .topnav ul {
           list-style-type: none;
           margin: 0;
           padding: 0;
           overflow: hidden;
           background-color: #333;
           position: fixed;
           top: 0;
           width: 100%;                     }

.topnav li {  float: left;
              font-size: 16px;
                   }

.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 8px;
  text-decoration: none;
}

.topnav li a:hover:not(.active) {
  background-color: #111;
}

.topnav .active {
  background-color: #4CAF50;
}


@media screen and (max-width: 1275px) { .topnav li {font-size: 15px;         }
@media screen and (max-width: 1200px) { .topnav li {font-size: 14px;         }
@media screen and (max-width: 1150px) { .topnav li {font-size: 13px;         }
@media screen and (max-width: 1100px) { .topnav li {font-size: 12px;         }
@media screen and (max-width: 1075px) { .topnav li {font-size: 11px;         }
@media screen and (max-width: 1010px) { .topnav li {font-size: 10px;         }
@media screen and (max-width: 995px) { .topnav li {font-size: 9px;         }




.alert-danger{color:#721c24;background-color:#f8d7da;border-color:#f5c6cb}
.alert-danger hr{border-top-color:#f1b0b7}
.alert-danger .alert-link{color:#491217}
